*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-position: inside;
    text-decoration: none;
    font-family: 'Open Sans';
}
@font-face {
    src: url('../Noto_Sans/NotoSans-Regular.ttf');
    font-family:"Open Sans";
}
header{
    width: 100%;
    height: 60px;
    background-color:rgb(38,39,41);
    min-width: 1280px;
}
.center{
    width: 1280px;
    margin: 0 auto;
}
.center img{
    width: 50px;
    height: 50px;
    max-width: 50%;
    margin: 5px auto;
   
}
.conteinerBanner{
    min-width: 1280px;
    width: 100%;
    height: 557px;
    background-image: url('../imagens/moon.jpg');  
    background-size: cover;
    background-position: center;
}
.conteinerBanner > .center{
    height: 100%;
}
.form{
    margin: 0 auto;
    width: 400px;
    height:calc(100% + 30px);
    position: relative;
    top: -15px;
    background-color: rgba(38,39,41,0.888);
    border: solid 2px rgb(71, 73, 77);
    border-radius: 5px;
    box-shadow: 1px 5px 10px;
}
.form h2{
    font-weight: normal;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 50px;
}
.inputConteiner{
    margin-top: 30px;
}
.inputConteiner label, p{
    display: inline-block;
    width: 100%;
    color: white;
    text-align: center;
    margin: 5px 0;
}
.inputConteiner input, .buttom{
    width: 70%;
    margin: 25px 60px;
    border-radius: 5px;
}
form > p{
    width: 100%;
    color: white;
    text-align: center;
    margin: 30px 0;
}
.buttom{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(71, 73, 77);
    border: solid 1px white;
    color: white;
    cursor: pointer;
}
.buttom:hover{
    background-color: rgb(38,39,41);
}
.infoConteiner{
    width: 600px;
    height:300px;
    background-color:rgba(38,39,41,0.8);
    float: left;
    margin: 100px;
    box-shadow:1px 5px 10px ;
    border-radius: 5px;
}
.list{
    text-align: center;
}
.list li{
    color: white;
    margin-top: 40px;
}
.coneiternerBottom {
    min-width: 1280px;
    background-color: rgb(38,39,41);
    width: 100%;
    height: 200px;
}
.coneiternerBottom .center{
    padding-top: 30px;
    text-align: center;
    color:white;
}
.coneiternerBottom .center h2{
    margin-bottom: 20px ;
}
